h1,h2,h3,h4,h5,h6 {
    font-family: "Open sans", Helvetica, Arial;
    font-weight: 500;
    color: #7EB237;
}

.price {
    color: #7EB237;
}

.colorButton {
    background-image: none;
    background-color: #7EB237;
    color: white;
    box-shadow: inset 0px 3px 11px rgba(13, 200, 59, 0.9), 0 0px 2px rgba(0, 0, 0, 0.05);
}

.colorButton:hover {
    background-image: none;
    background-color: #0a7e00;
    color: white;
}

.colorButton:active {
    background-image: none;
    background-color: #0a7e00;
    color: white;
}

#productView {
	margin-top: 21px;
}

a:hover {
    text-decoration: none;
}

.thumbnail {
    top: 10px; 
    border: 3px solid white;
    -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.thumbnail div{
    -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.thumbnail:hover {
  border: 3px solid #7EB237;
  top: 0px;
}

/*
.thumbnail:hover h4 {
    color: black;
}

.thumbnail:hover h5 {
    color: black;
}

.thumbnail:hover .price {
    color: black;
}
*/
.text {
    opacity: 1;
}

.thumbnail:hover .text {
    visibility: hidden;
    opacity: 0;
}

.icons {
  visibility: hidden;
  opacity: 0;
  position: relative;
  bottom: 80px;
  height: 0;
}

.thumbnail:hover .icons {
    visibility: visible;
    opacity: 1;
}

.iconBorderEdit {
  border: 1px solid #ccc; 
  border-radius: 25px; 
  padding: 13px; 
  padding-right: 12px; 
  font-size: 22px;
  position: relative;
  top: -10px;
}

.iconBorderTrash {
  border: 1px solid #ccc; 
  border-radius: 25px; 
  padding: 13px; 
  padding-right: 15px; 
  padding-left: 15px; 
  font-size: 22px;
  position: relative;
  top: -10px;
}

.iconBorderCart {
  border: 1px solid #ccc; 
  border-radius: 36px; 
  padding: 21px; 
  padding-right: 22px; 
  font-size: 27px;
  position: relative;
  top: -10px;
}

.iconBorder:hover {
  cursor: pointer;
  border: 1px solid #7EB237;
  background-color: #7EB237;
  color: white;
}


.carousel-control {
    left: -25px;
    line-height: 25px;
}

.inputNumber {
    height: 30px;
}

.buyForm {
    position: relative;
    top: 4px;
}

.bucketBadge {
  border-radius: 50%;
  background-color: green;
  color: white;
  opacity: 0.7;
  font-size: 11px;
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
  position: relative;
  right: 8px;
}

@media (max-width: 767px) {
  .bucketBadge{
    top: 10px;
}
}

a:hover div span.bucketBadge {
  opacity: 1;
}

a:focus div span.bucketBadge {
  opacity: 1;
}

.bucketBorder {
  border: 1px solid rgba(255, 255, 255, .4); 
  border-radius: 25px; 
  padding: 9px; 
  padding-right: 11px; 
  font-size: 22px;
  position: relative;
  top: -10px;
}

@media (max-width: 767px) {
  .bucketBorder{
    top: 0;
}
}

a:hover i.bucketBorder {
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

a:focus i.bucketBorder {
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

input {
  max-width: 375px;
}

select {
  max-width: 375px;
}

.buyPagesContainer {
  margin-top: 30px;
  padding-left: 30px; 
  padding-right: 30px
}