h1,h2,h3,h4,h5,h6 {
    font-family: "Open sans", Helvetica, Arial;
    font-weight: 500;
    color: #7EB237;
}

.price {
    color: #7EB237;
}

.colorButton {
    background-image: none;
    background-color: #7EB237;
    color: white;
    box-shadow: inset 0px 3px 11px rgba(13, 200, 59, 0.9), 0 0px 2px rgba(0, 0, 0, 0.05);
}

.colorButton:hover {
    background-image: none;
    background-color: #0a7e00;
    color: white;
}

.colorButton:active {
    background-image: none;
    background-color: #0a7e00;
    color: white;
}

#productView {
	margin-top: 21px;
}

a:hover {
    text-decoration: none;
}

.thumbnail {
    top: 10px; 
    border: 3px solid white;
    -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.thumbnail div{
    -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.thumbnail:hover {
  border: 3px solid #7EB237;
  top: 0px;
}


.thumbnail:hover h4 {
    color: black;
}

.thumbnail:hover h5 {
    color: black;
}

.thumbnail:hover .price {
    color: black;
}


.carousel-control {
    left: -25px;
    line-height: 25px;
}

.inputNumber {
    height: 30px;
}

.buyForm {
    position: relative;
    top: 4px;
}

