<div class="container" style="padding-left: 30px; padding-right: 30px">

		<ol class="breadcrumb">
			<li><a routerLink="/">Главная</a></li>
			<li class="active">Контакты</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
				<header class="page-header">
					<h1 class="page-title">Контактная информация</h1>
				</header>
				
				<p>
					Рады приветствовать вас на нашем сайте, здесь представлена краткая информация о нас и форма обратной связи, с помощью которой вы сможете задать интересующий вас вопрос. Мы ценим наше общее время и постараемся максимально быстро и качественно дать ответ на ваш вопрос
				</p>
				<br>
					<form>
						<div class="row">
							<div class="col-sm-4">
								<input class="form-control" type="email" placeholder="Email" [(ngModel)]="data.email" [ngModelOptions]="{standalone: true}">
								<p style="color: red; margin-top: 10px;margin-left: 4px" *ngIf="incorrectMailing && data.email === ''">Введите ваш email</p>
							</div>
							<div class="col-sm-4">
								<input class="form-control" type="text" placeholder="Имя" [(ngModel)]="data.name" [ngModelOptions]="{standalone: true}">
							</div>
							<div class="col-sm-4">
								<input class="form-control" type="tel" placeholder="Телефон" [(ngModel)]="data.telephone" [ngModelOptions]="{standalone: true}">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-12">
								<textarea placeholder="Введите своё сообщение здесь..." class="form-control" rows="9" [(ngModel)]="data.text" [ngModelOptions]="{standalone: true}"></textarea>
							</div>
						</div>
						<br>
						<div class="row">
							<!--<div class="col-sm-6">
								<label class="checkbox"><input type="checkbox"> Sign up for newsletter</label>
							</div>-->
							<div class="col-sm-12 text-right">
								<input class="btn btn-action" type="submit" value="Отправить сообщение" (click)="sendMail()">
							</div>
						</div>
					</form>

			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">

				<div class="widget">
					<h4>Адрес:</h4>
					<address>
						г. Волгоград, ул бонуская 8
					</address>
					<h4>Телефон:</h4>
					<address>
						(909) 379-8267
					</address>
					<h4>Режим работы:</h4>
					<address>
						пн - сб&nbsp;&nbsp;08:00 - 21:00
					</address>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	
	<!--<section class="container-full top-space">
		<div id="map"></div>
	</section>-->