<section class="section" id="themes" *ngIf="products">
	<div class="container">

		<div class="row">
			
			<div class="col-lg-4" [class.col-lg-offset-2]="i%2===0" *ngFor="let item of products; index as i">
				<h2 align="center">{{item.name}}</h2>
				<div class="thumbnail">
					<a routerLink="/product_details/{{item._id}}">	
						<img src="{{item.imgUrl}}" alt="{{item.name}}">
					</a>
					<div class="caption" style="text-align: center">
						<h4><p>Размер: {{item.properties.size}}</p></h4>
						<h4><p>Вес: {{item.properties.weight}}</p></h4>
						<h4><p>Свет: {{item.properties.light}}</p></h4>
						<h4><p>Вентиляция: {{item.properties.ventilation}}</p></h4>
						<h4><p>Обшивка: {{item.properties.covering}}</p></h4>
						<h4><p>Также в комплекте: {{item.properties.other}}</p></h4><br>
						<p><a (click)="purchaseProduct({productId: item._id, number: 1})" 		class="btn btn-primary" role="button">Купить</a> 
							<a routerLink="/product_details/{{item._id}}" class="btn btn-default" role="button">Подробнее</a>
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>