<div class="background">
	<div class="customContainer row">
		<div class="col-lg-5 row" align="center" >
			<div class="col-lg-2">
			<a routerLink="/home"><img src="assets/images/logoHB1.jpg" alt="Progressus HTML5 template"></a>
			</div>
			<div class="logo col-lg-2 col-lg-offset-2">
				<span class="hr1">growboxes</span>
				<span class="hr4 nowrapString">прогрессивное растениеводство</span>
			</div>
		</div>
		<div class="work col-lg-4">
		<span class="hr3">производство и продажа изделий для гровинга</span>
		</div>
		<div class="contacts col-lg-3">
			<span class="hr3">8 904 772 00 46</span>
			<span class="hr3 nowrapString">E-mail: info@growboxes.ru</span>
		</div>
	</div>
</div>