 <!-- Navbar
    ================================================== -->
<!--<div class="navbar navbar-fixed-top" style="position: fixed">
  <div class="navbar-inner">
    <div class="container">
      <div>
        <ul class="nav">
		  <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
		  <li routerLinkActive="active"><a routerLink="/special_offer">Specials Offer</a></li>
		  <li routerLinkActive="active"><a routerLink="/normal">Delivery</a></li>
		  <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
		</ul>
        <ul class="nav pull-right">
		<li class="dropdown">
			<a data-toggle="dropdown" class="dropdown-toggle" href="#">Login <b class="caret"></b></a>
			<div class="dropdown-menu">
			<form class="form-horizontal loginFrm">
			  <div class="control-group">								
				<input type="text" class="span2" id="inputEmail" placeholder="Email">
			  </div>
			  <div class="control-group">
				<input type="password" class="span2" id="inputPassword" placeholder="Password">
			  </div>
			  <div class="control-group">
				<label class="checkbox">
				<input type="checkbox"> Remember me
				</label>
				<button type="submit" class="btn pull-right">Sign in</button>
			  </div>
			</form>					
			</div>
		</li>
		</ul>
      </div>
    </div>
  </div>
</div>-->

<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					
					<li routerLinkActive="active"><a routerLink="/home">Главная</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Каталог <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li routerLinkActive="active"><a routerLink="/products">Гроубоксы</a></li>
							<li routerLinkActive="active"><a href="sidebar-right.html">Свет</a></li>
							<li routerLinkActive="active"><a href="sidebar-left.html">Автоматизация</a></li>
						</ul>
					</li>
					<li><a routerLink="/about_us">О нас</a></li>
					<li><a routerLink="/contact">Контакты</a></li>
					<li><a class="btn" routerLink="/login">SIGN IN / SIGN UP</a></li>
					
					<li routerLinkActive="active"><a routerLink="/product_summary"><i class="fa fa-shopping-cart fa-2x"></i></a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 