
<header class="blackHeader"></header>

<div class="row" style="margin-left: 150px; margin-top: 30px">

	<ul class="breadcrumb">
		<li><a routerLink="/home">Главная</a> <span class="divider">/</span></li>
		<li class="active">Корзина покупок</li>
  </ul>

	<section class="main-content">				
		<div class="row">
			<div class="span9">					
				<h3 class="title"><span class="text">Корзина покупок</span></h3>
				<hr class="soft"/>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Remove</th>
							<th>Image</th>
							<th>Product Name</th>
							<th>Quantity</th>
							<th>Unit Price</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="checkbox" value="option1"></td>
							<td class="span4"><a href="product_detail.html"><img alt="" src="assets/products/large/1.jpg"></a></td>
							<td>Fusce id molestie massa</td>
							<td><input type="text" placeholder="1" class="input-mini"></td>
							<td>$2,350.00</td>
							<td>$2,350.00</td>
						</tr>			  
						<tr>
							<td><input type="checkbox" value="option1"></td>
							<td class="span4"><a href="product_detail.html"><img alt="" src="assets/products/large/2.jpg"></a></td>
							<td>Luctus quam ultrices rutrum</td>
							<td><input type="text" placeholder="2" class="input-mini"></td>
							<td>$1,150.00</td>
							<td>$2,450.00</td>
						</tr>
						<tr>
							<td><input type="checkbox" value="option1"></td>
							<td class="span4"><a href="product_detail.html"><img alt="" src="assets/products/large/6.jpg"></a></td>
							<td>Wuam ultrices rutrum</td>
							<td><input type="text" placeholder="1" class="input-mini"></td>
							<td>$1,210.00</td>
							<td>$1,123.00</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td><strong>$3,600.00</strong></td>
						</tr>		  
					</tbody>
				</table>
				
				<p class="buttons center">				
					<button class="btn" type="button">Продолжить покупки</button>
					<button class="btn btn-inverse pull-right" type="submit" id="checkout">Оформление заказа</button>
				</p>					
			</div>
		</div>
	</section>	
	
</div>