


<header class="blackHeader"></header>


<div class="row" style="margin-left: 150px; margin-top: 30px" *ngIf="productDetail">


	<div class="span9">
    <ul class="breadcrumb">
    <li><a routerLink="/home">Главная</a> <span class="divider">/</span></li>
    <li><a routerLink="/products/{{categories[productDetail.category]}}">{{productDetail.category}}</a> <span class="divider">/</span></li>
    <li class="active">{{productDetail.name}}</li>
    </ul>	
	<div class="row">	  
			<div id="gallery" class="span4">
	            <a class="fancybox-thumb" rel="fancybox-thumb" href="{{productDetail.imgUrl}}" title="Fujifilm FinePix S2950 Digital Camera">
					<img src="{{productDetail.imgUrl}}" width="100%" alt="Fujifilm FinePix S2950 Digital Camera"/>
	            </a>
				<div id="myCarousel" class="moreOptopm carousel slide">
	                <div class="carousel-inner">
	                  <div class="item active">
	                   <a class="fancybox-thumb" rel="fancybox-thumb" href="assets/products/large/f1.jpg" title="item 1" *ngIf="!productDetail.imgUrl1"> <img width="29%" src="assets/products/large/f1.jpg" alt=""/></a>
	                   <a class="fancybox-thumb" rel="fancybox-thumb" href="{{productDetail.imgUrl1}}" title="item 1" *ngIf="productDetail.imgUrl1"> <img width="29%" src="{{productDetail.imgUrl1}}" alt=""/></a>
	                   <a class="fancybox-thumb" rel="fancybox-thumb" href="assets/products/large/f2.jpg" title="item 2" *ngIf="!productDetail.imgUrl2"> <img width="29%" src="assets/products/large/f2.jpg" alt=""/></a>
	                   <a class="fancybox-thumb" rel="fancybox-thumb" href="{{productDetail.imgUrl2}}" title="item 2" *ngIf="productDetail.imgUrl2"> <img width="29%" src="{{productDetail.imgUrl2}}" alt=""/></a>
	                   <a class="fancybox-thumb" rel="fancybox-thumb" href="assets/products/large/f3.jpg" title="item 3" *ngIf="!productDetail.imgUrl3"> <img width="29%" src="assets/products/large/f3.jpg" alt=""/></a>
	                   <a class="fancybox-thumb" rel="fancybox-thumb" href="{{productDetail.imgUrl3}}" title="item 3" *ngIf="productDetail.imgUrl3"> <img width="29%" src="{{productDetail.imgUrl3}}" alt=""/></a>
	                  </div>
	                  <div class="item">
	                   <a href="assets/products/large/f3.jpg" *ngIf="!productDetail.imgUrl4"> <img width="29%" src="assets/products/large/f3.jpg" alt=""/></a>
	                   <a href="{{productDetail.imgUrl4}}" *ngIf="productDetail.imgUrl4"> <img width="29%" src="{{productDetail.imgUrl4}}" alt=""/></a>
	                   <a href="assets/products/large/f1.jpg" *ngIf="!productDetail.imgUrl5"> <img width="29%" src="assets/products/large/f1.jpg" alt=""/></a>
	                   <a href="{{productDetail.imgUrl5}}" *ngIf="productDetail.imgUrl5"> <img width="29%" src="{{productDetail.imgUrl5}}" alt=""/></a>
	                   <a href="assets/products/large/f2.jpg" *ngIf="!productDetail.imgUrl6"> <img width="29%" src="assets/products/large/f2.jpg" alt=""/></a>
	                   <a href="{{productDetail.imgUrl6}}" *ngIf="productDetail.imgUrl6"> <img width="29%" src="{{productDetail.imgUrl6}}" alt=""/></a>
	                  </div>
	                </div>
                
			  		<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
              		<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a> 
			  
              	</div>
			  
			</div>

			<div class="span5">
				<h3>{{productDetail.name}}  </h3>
				<small>- (14MP, 18x Optical Zoom) 3-inch LCD</small>
				<hr class="soft"/>
				<form class="form-horizontal qtyFrm">
				  <div class="control-group">
					<label class="control-label buyForm"><span class="price">${{productDetail.price}}</span></label>
					<div>
					  <input #numb type="number" min="1" class="span2 buyForm" style="height: 30px" placeholder="Количество" value="1"/>
					  <button type="submit" class="btn btn-large pull-right colorButton" style="position:relative" [style.top] = "top"  (click)="purchaseProduct({productId: productDetail._id, number: numb.value})"><i class="icon-white icon-shopping-cart"></i> Купить</button>
					</div>
				  </div>
				</form>

				<hr class="soft clr"/>

				<p>
					{{productDetail.description}}
				</p>
				
				<br class="clr"/>	
			</div>
			
			<div class="span9">
            <ul id="productDetail" class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
              <li><a href="#profile" data-toggle="tab">Related Products</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="home">
			  <h4>Product Information</h4>
                <table class="table table-bordered" cellspacing="0">
				<tbody>
				<tr class="techSpecRow"><th colspan="2">Product Details</th></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Brand: </td><td class="techSpecTD2">Fujifilm</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Model:</td><td class="techSpecTD2">FinePix S2950HD</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Released on:</td><td class="techSpecTD2"> 2011-01-28</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Dimensions:</td><td class="techSpecTD2"> 5.50" h x 5.50" w x 2.00" l, .75 pounds</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Display size:</td><td class="techSpecTD2">3</td></tr>
				</tbody>
				</table>
				
				<h5>Features</h5>
				<p>
				14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen. Full HD photos and 1280 x 720p HD movie capture. ISO sensitivity ISO6400 at reduced resolution. Tracking Auto Focus. Motion Panorama Mode. Face Detection technology with Blink detection and Smile and shoot mode. 4 x AA batteries not included. WxDxH 110.2 ×81.4x73.4mm. Weight 0.341kg (excluding battery and memory card). Weight 0.437kg (including battery and memory card).<br/>
				OND363338
				</p>

				<h4>Editorial Reviews</h4>
				<h5>Manufacturer's Description </h5>
				<p>
				With a generous 18x Fujinon optical zoom lens, the S2950 really packs a punch, especially when matched with its 14 megapixel sensor, large 3.0" LCD screen and 720p HD (30fps) movie capture.
				</p>

				<h5>Electric powered Fujinon 18x zoom lens</h5>
				<p>
				The S2950 sports an impressive 28mm – 504mm* high precision Fujinon optical zoom lens. Simple to operate with an electric powered zoom lever, the huge zoom range means that you can capture all the detail, even when you're at a considerable distance away. You can even operate the zoom during video shooting. Unlike a bulky D-SLR, bridge cameras allow you great versatility of zoom, without the hassle of carrying a bag of lenses.
				</p>
				<h5>Impressive panoramas</h5>
				<p>
				With its easy to use Panoramic shooting mode you can get creative on the S2950, however basic your skills, and rest assured that you will not risk shooting uneven landscapes or shaky horizons. The camera enables you to take three successive shots with a helpful tool which automatically releases the shutter once the images are fully aligned to seamlessly stitch the shots together in-camera. It's so easy and the results are impressive.
				</p>

				<h5>Sharp, clear shots</h5>
				<p>
				Even at the longest zoom settings or in the most challenging of lighting conditions, the S2950 is able to produce crisp, clean results. With its mechanically stabilised 1/2 3", 14 megapixel CCD sensor, and high ISO sensitivity settings, Fujifilm's Dual Image Stabilisation technology combines to reduce the blurring effects of both hand-shake and subject movement to provide superb pictures.
				</p>
              </div>
		<div class="tab-pane fade" id="profile">
		<div id="myTab" class="pull-right">
		 <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
		 <a href="#blockView" data-toggle="tab"><span class="btn btn-large active"><i class="icon-th-large icon-white"></i></span></a>
		</div>
		<br class="clr"/>
		<hr class="soft"/>

		<div class="tab-content">
			<div class="tab-pane" id="listView">

			<div class="row" *ngFor="let item of products;">	  
				<div id="productView" class="span2">
					<img src="{{item.imgUrl}}" alt=""/>
				</div>
				<div class="span4" style="margin-bottom: 20px">
					<h3>{{item.name}}</h3>				
					<p>
					{{item.description}}
					</p>
					<br class="clr"/>
				</div>
				<div class="span3 alignR">
				<form class="form-horizontal qtyFrm">
				<h3> ${{item.price}}</h3>
				  <a class="btn btn-large colorButton" (click)="purchaseProduct({productId: item._id,
				  number: 1})"><span class="icon-white icon-shopping-cart"></span> Купить</a>
				  <a routerLink="/product_details/{{item._id}}" class="btn btn-large">Подробнее</a>
					</form>
				</div>
			</div>


			<div class="row">	  
				<div id="productView" class="span2">
					<img src="assets/products/4.jpg" alt=""/>
				</div>
				<div class="span4">
					<h3>Гроубокс 4</h3>				
					<p>
					Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
					that is why our goods are so popular..
					</p>
					<br class="clr"/>
				</div>
				<div class="span3 alignR">
					<form class="form-horizontal qtyFrm">
					<h3> $140.00</h3>		
					<a routerLink="/product_details" class="btn btn-large colorButton"><i class="icon-white icon-shopping-cart"></i> Купить</a>
					<a routerLink="/product_details" class="btn btn-large">Подробнее</a>				
					</form>
				</div>
			</div>

			<hr class="soft"/>
			<div class="row">	  
				<div id="productView" class="span2">
					<img src="assets/products/4.jpg" alt=""/>
				</div>
				<div class="span4">
					<h3>Гроубокс 4</h3>				
					<p>
					Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
					that is why our goods are so popular..
					</p>
					<br class="clr"/>
				</div>
				<div class="span3 alignR">
					<form class="form-horizontal qtyFrm">
					<h3> $140.00</h3>		
					<a routerLink="/product_details" class="btn btn-large colorButton"><i class="icon-white icon-shopping-cart"></i> Купить</a>
					<a routerLink="/product_details" class="btn btn-large">Подробнее</a>				
					</form>
				</div>
			</div>

			<hr class="soft"/>
			<div class="row">	  
				<div id="productView" class="span2">
					<img src="assets/products/4.jpg" alt=""/>
				</div>
				<div class="span4">
					<h3>Гроубокс 4</h3>				
					<p>
					Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
					that is why our goods are so popular..
					</p>
					<br class="clr"/>
				</div>
				<div class="span3 alignR">
					<form class="form-horizontal qtyFrm">
					<h3> $140.00</h3>		
					<a routerLink="/product_details" class="btn btn-large colorButton"><i class="icon-white icon-shopping-cart"></i> Купить</a>
					<a routerLink="/product_details" class="btn btn-large">Подробнее</a>				
					</form>
				</div>
			</div>

			<hr class="soft"/>
			<div class="row">	  
				<div id="productView" class="span2">
					<img src="assets/products/4.jpg" alt=""/>
				</div>
				<div class="span4">
					<h3>Гроубокс 4</h3>				
					<p>
					Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
					that is why our goods are so popular..
					</p>
					<br class="clr"/>
				</div>
				<div class="span3 alignR">
					<form class="form-horizontal qtyFrm">
					<h3> $140.00</h3>		
					<a routerLink="/product_details" class="btn btn-large colorButton"><i class="icon-white icon-shopping-cart"></i> Купить</a>
					<a routerLink="/product_details" class="btn btn-large">Подробнее</a>				
					</form>
				</div>
			</div>
			
			<hr class="soft"/>
			<div class="row">	  
				<div id="productView" class="span2">
					<img src="assets/products/4.jpg" alt=""/>
				</div>
				<div class="span4">
					<h3>Гроубокс 4</h3>				
					<p>
					Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
					that is why our goods are so popular..
					</p>
					<br class="clr"/>
				</div>
				<div class="span3 alignR">
					<form class="form-horizontal qtyFrm">
					<h3> $140.00</h3>		
					<a routerLink="/product_details" class="btn btn-large colorButton"><i class="icon-white icon-shopping-cart"></i> Купить</a>
					<a routerLink="/product_details" class="btn btn-large">Подробнее</a>				
					</form>
				</div>
			</div>

			<hr class="soft"/>
				<div class="row">	  
					<div id="productView" class="span2">
						<img src="assets/products/4.jpg" alt=""/>
					</div>
					<div class="span4">
						<h3>Гроубокс 4</h3>				
						<p>
						Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - 
						that is why our goods are so popular..
						</p>
						<br class="clr"/>
					</div>
					<div class="span3 alignR">
						<form class="form-horizontal qtyFrm">
						<h3> $140.00</h3>		
						<a routerLink="/product_details" class="btn btn-large colorButton"><i class="icon-white icon-shopping-cart"></i> Купить</a>
						<a routerLink="/product_details" class="btn btn-large">Подробнее</a>				
						</form>
					</div>
				</div>
			</div>

			<hr class="soft"/>
			
		
			<div class="tab-pane active" id="blockView">
				<ul class="thumbnails">

					<li class="span3" *ngFor="let item of products;">
				  
						<div class="thumbnail">
							<a routerLink="/product_details/{{item._id}}">
								<img src="{{item.imgUrl}}" alt=""/>
							</a>
							<div class="caption" align="center">
								<div class="text">
									<h5>{{item.name}}</h5>
									<p> 
									 	I'm a paragraph. Click here 
									</p>
									<h4>${{item.price}}</h4>
								</div>
								<div class="icons" align="center">
									<i class="fa fa-shopping-cart iconBorder iconBorderCart" 
									(click)="purchaseProduct({productId: item._id, number: 1})"></i>
								</div>
							</div>
						</div>
						  
					</li>

					<li class="span3">
					  <a routerLink="/product_details">
						  <div class="thumbnail">
								<img src="assets/products/4.jpg" alt=""/>
								<div class="caption" align="center">
								  <h5>Manicure &amp; Pedicure</h5>
								  <p> 
									I'm a paragraph. Click here 
								  </p>
								  <h4>$22.00</h4>
								</div>	
						  </div>
					  </a>
					</li>
					<li class="span3">
					  <a routerLink="/product_details">
						  <div class="thumbnail">
								<img src="assets/products/4.jpg" alt=""/>
								<div class="caption" align="center">
								  <h5>Manicure &amp; Pedicure</h5>
								  <p> 
									I'm a paragraph. Click here 
								  </p>
								  <h4>$22.00</h4>
								</div>	
						  </div>
					  </a>
					</li>
					<li class="span3">
					  <a routerLink="/product_details">
						  <div class="thumbnail">
								<img src="assets/products/4.jpg" alt=""/>
								<div class="caption" align="center">
								  <h5>Manicure &amp; Pedicure</h5>
								  <p> 
									I'm a paragraph. Click here 
								  </p>
								  <h4>$22.00</h4>
								</div>	
						  </div>
					  </a>
					</li>
					<li class="span3">
					  <a routerLink="/product_details">
						  <div class="thumbnail">
								<img src="assets/products/4.jpg" alt=""/>
								<div class="caption" align="center">
								  <h5>Manicure &amp; Pedicure</h5>
								  <p> 
									I'm a paragraph. Click here 
								  </p>
								  <h4>$22.00</h4>
								</div>	
						  </div>
					  </a>
					</li>
					<li class="span3">
					  <a routerLink="/product_details">
						  <div class="thumbnail">
								<img src="assets/products/4.jpg" alt=""/>
								<div class="caption" align="center">
								  <h5>Manicure &amp; Pedicure</h5>
								  <p> 
									I'm a paragraph. Click here 
								  </p>
								  <h4>$22.00</h4>
								</div>	
						  </div>
					  </a>
					</li>
					<li class="span3">
					  <a routerLink="/product_details">
						  <div class="thumbnail">
								<img src="assets/products/4.jpg" alt=""/>
								<div class="caption" align="center">
								  <h5>Manicure &amp; Pedicure</h5>
								  <p> 
									I'm a paragraph. Click here 
								  </p>
								  <h4>$22.00</h4>
								</div>	
						  </div>
					  </a>
					</li>
				</ul>
			<hr class="soft"/>
			</div>
		</div>
				<br class="clr">
					 </div>
		</div>
          </div>

	</div>
</div>
</div> <!-- Body wrapper -->