<div style="margin-top: 30px; padding-left: 30px; padding-right: 30px">
	<section class="main-content" style="margin-left: 60px">

		<div *ngIf="!access.access">
			<div class="form-group">
		    <label class="control-label">Введи пароль для входа в упраление товарами</label>
		    <input type="password" class="form-control" placeholder="" [(ngModel)]="passwordToAccess"
		    (input)="appearanceOfErrorPassword()">
	  	</div>
	  	<p style="color: red" *ngIf="access.passwordChecked && !access.access && passwordToAccess != '' ">Неверный пароль</p>
	  	<button type="submit" class="btn btn-default" (click)="getAccessToProductsManagement()">Войти</button>
		</div>

		<div class="row-fluid" *ngIf="access.access">

			<div  *ngIf="view.currentView == 'editProducts'">
				<div class="span6">
					<h4>Введите данные о товаре</h4>
					<div class="control-group">
						<label class="control-label">Название</label>
						<div class="controls">
							<input type="text" placeholder="" class="input-xlarge" [(ngModel)]="data.name">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Категория</label>
						<select class="form-control" placeholder="Выберите категорию товара" [(ngModel)]="data.category">
						  <option *ngFor="let item of categories" value="{{item}}">{{item}}</option>
						</select>
					</div>
					<div class="control-group">
						<label class="control-label">Описание</label>
						<div class="controls">
							<!--<input type="text" placeholder="" class="input-xlarge" [(ngModel)]="data.description">-->
							<textarea class="form-control" rows="3" [(ngModel)]="data.description" style="min-width: 267px; border-radius: 10px"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Цена</label>
						<div class="controls">
							<input type="text" placeholder="" class="input-xlarge" [(ngModel)]="data.price">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Путь к изображению</label>
						<div class="controls">
							<input type="text" placeholder="" class="input-xlarge" [(ngModel)]="data.imgUrl">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Путь к изображению 1</label>
						<div class="controls">
							<input type="text" placeholder="" class="input-xlarge" [(ngModel)]="data.imgUrl1">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Путь к изображению 2</label>
						<div class="controls">
							<input type="text" placeholder="" class="input-xlarge" [(ngModel)]="data.imgUrl2">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Путь к изображению 3</label>
						<div class="controls">
							<input type="text" placeholder="" class="input-xlarge" [(ngModel)]="data.imgUrl3">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Путь к изображению 4</label>
						<div class="controls">
							<input type="text" placeholder="" class="input-xlarge" [(ngModel)]="data.imgUrl4">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Путь к изображению 5</label>
						<div class="controls">
							<input type="text" placeholder="" class="input-xlarge" [(ngModel)]="data.imgUrl5">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Путь к изображению 6</label>
						<div class="controls">
							<input type="text" placeholder="" class="input-xlarge" [(ngModel)]="data.imgUrl6">
						</div>
					</div>
				</div>

				<button class="btn btn-large colorButton" (click)="saveProduct(data)">ВНЕСТИ ТОВАР В БАЗУ</button>
				<button class="btn btn-large colorButton" (click)="changeView()">ПОСМОТРЕТЬ ТОВАРЫ</button>
				<button class="btn btn-large colorButton" (click)="updateProduct(data)">ОБНОВИТЬ ТОВАР</button>
			</div>

			<div *ngIf="view.currentView == 'showProducts' && products" style="margin-right: 150px">
				<div>
					<li class="span3" *ngFor="let item of products;">
					  
					  <div class="thumbnail">
							<a routerLink="/product_details/{{item._id}}">
								<img src="{{item.imgUrl}}" alt=""/>
							</a>
							<div class="caption" align="center">
								<div class="text">
								  <h5>{{item.name}}</h5>
								  <p> 
									I'm a paragraph. Click here 
								  </p>
								  <h4>${{item.price}}</h4>
							  </div>
							  <div class="icons" align="center">
									<i class="fa fa-edit iconBorder iconBorderEdit" (click)="editProduct(item)"></i>
									<i class="fa fa-trash-o iconBorder iconBorderTrash" style="margin-left: 2px"
									(click)="deleteProduct(item)"></i>
								</div>
							</div>
					  </div>
					  
					</li>
				</div>

				<div style="display: block">
					<button class="btn btn-large" type="button" (click)="changeView()">Назад</button>
				</div>

			</div>

		</div>

	</section>
</div>