@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


* {
    margin: 0;
    padding: 0;
}


*, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-width: 412px;
}

body {
    font-family: "Open sans", Helvetica, Arial;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
    margin: 0;
    background-image: url(./app/assets/images/bg-body.jpg);
    background-position: top center;
    background-repeat: repeat !important; 
    background-attachment: scroll !important;

}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.mainContainer {
    background-color: #fff; 
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.45);
    border-top-right-radius: 53px;
    border-top-left-radius: 53px;
}
